#body {
    height: 100%;
    width: 100%;
    background: url('../img/large_leather.png');
    background-position: cover;
    /* background-color: aqua; */
}

#header {
    padding: 0;
    margin: 0;
}

#header h1 {
    text-shadow: 5.2px 3px 3px rgba(0, 0, 0, 0.5);
}

.jumbotron {
    box-shadow: 0px 2.8px 3px rgba(0, 0, 0, 0.5);
}

#carouselExampleCaptions {
    /* padding: 0 150px !important; */
    margin: 0;
    padding: 0;
    height: 30vh;
    width: 90%;
    border: 10px solid whitesmoke;
    border-radius: 5px;
    border-width: thick;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#carouselExampleCaptions img {
    object-fit: cover;
    object-position: cover;
    height: 100% !important;
    width: 100% !important;
    width: auto;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: block;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#content img {
    width: 145px;
    opacity: 0.8;
    padding-top: 16px;
    padding-right: 10px;
}

#indonesia img {
    /* margin: 35px 35px; */
    /* width: 1000px; */
    position: relative;
    /* padding-right: 25px; */
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: red;
}

@media screen and (min-width: 601px) {
    #body h1 {
        font-size: 75px !important;
    }
    #carouselExampleCaptions {
        /* padding: 0 150px !important; */
        margin: 0;
        padding: 0;
        height: 70%;
        width: 90%;
        border: 10px solid whitesmoke;
        border-radius: 5px;
        border-width: thick;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (min-width: 749px)and (max-width: 1184px) {
    #content img {
        display: none;
        opacity: 0;
    }
    #content h2, h5 {
        position: relative;
    }
    #content .box {
        height: 200px;
    }
}
